body{
    overflow-x: hidden;
    
}
 
.meuNome{
    font-size: 50px;
    font-family: sans-serif;
    letter-spacing: 3px;
    margin-bottom: 100px;
}

#minhaFoto{
    border-radius: 50% 10px;
    width: 250px;
    height: 300px;
    text-align: center;
    border: 10px solid black;
    box-shadow: 5px 5px 15px ;
}
.header1{
    text-align: center;
    
}
.header2{
    display: flex;
    text-align: center;
    justify-content: space-around;
    
}
#linksPessoais{
    font-size: 30px;
    
}
a:link {
    color: black;
    font-family: sans-serif;
    text-decoration: none;
}
a:visited{
    color: black;
}
a:hover{
    text-decoration: underline;
    transition: 3s;
    
}
.container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 2000px;
}
.fonteSubTitulo {
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 150px;
    margin-top: 100px;
    letter-spacing: 5px;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
#descrição{
    display: flex;
    font-size: 30px; 
    text-align: center;
}
.listaDeCuriosidades{
    font-size: 30px;
    text-align: center;
    margin-bottom: 150px;
}

.ancora{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.circuloHabillidade{
    display: flex;
    background-color: rgb(58, 56, 56);
    padding: 50px 0;
    width: 420px;
    font-size: 30px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}
.progressCircle{
    position: relative;
    height: 250px;
    width:250px;
    border-radius: 50%;
    background-color: #f0ff;
    background: conic-gradient(#5b70f9 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.progressCircle::before{
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: #fff

}
.progressValor{
    position: relative;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 600;
    color: #5b70f9;
    
}
.texto{
    padding-top: 15px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 500;
    color: #5b70f9;

}
.circuloHabillidade2{
    display: flex;
    background-color: rgb(58, 56, 56);
    padding: 50px 0;
    width: 420px;
    font-size: 30px;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
}

.progressCircle2{
    position: relative;
    height: 250px;
    width:250px;
    border-radius: 50%;
    background-color: #f0ff;
    background: conic-gradient(#d36934 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.progressCircle2::before{
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: #fff

}
.progressValor2{
    position: relative;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 600;
    color: #d36934;
    
}
.texto2{
    padding-top: 15px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 500;
    color: #d36934;

}

.habilidades {
    display: flex;
    justify-content: space-around;
}